body{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;

    background-image: url(./images/Grey-Wooden-Texture-Wallpaper-42298.jpg);
}
*{
    box-sizing: border-box;
}
#navhere{
    padding: 0px;
    margin:0px;
    background-color: black;
    width: 100%;
    padding: 20px;
    position:sticky;
}



 ul a::after{
    clear:both;
}
  #hov:hover{
    background-color:#8d93ab;
   color:rgb(65, 57, 57);
   padding:2px;
   opacity :1;
  
}
.row1{
        margin-left: 230px;
        margin-right: 230px;
        color:#ffcb00;
        opacity:0.7;
        text-shadow: rgb(255, 255, 255,0.2) 5px 5px 5px ;
}
.row1:hover,.row1:active{
  opacity:1;  
  text-shadow: rgb(255, 255, 255,0.5) 5px 5px 5px ;
}


a{
    text-decoration: none;
    color:wheat;
}
#secondh1{
    margin-bottom: 4px;
}
hr{
border: solid rgb(255, 255, 255) 2px;
border-radius: 20px;

}
div[title="education"] ul li ul li {
    list-style: none;
}
div[title="skills"] ul li ul li {
    list-style: square;
}

@media screen and (max-width:1200px)
{
    .row1{
        margin-left: 20px;
        margin-right: 20px;
        color:white;
}
}